[Unit]
Description=Minecraft server
Wants=network.target
After=network.target

StartLimitIntervalSec=3600
StartLimitBurst=5

[Service]
Type=exec
User=minecraft
Group=minecraft
EnvironmentFile=/etc/minecraft/env.conf

ExecStart=/usr/bin/sh /opt/minecraft/scripts/run_server.sh
ExecStop=/usr/local/bin/mcrcon stop
TimeoutStopSec=60
Restart=always
